#playbtn {
    width: 107px;
    height: 36px;
    position: fixed;
    top: 323px;
    left: 352px;
}

#next {
    width: 23px;
    height: 22px;
    position: fixed;
    top: 329px;
    left: 312px;
    display: block;
}

#prev {
    display: block;
    width: 23px;
    height: 22px;
    position: fixed;
    top: 329px;
    left: 55px;
}